.wrapper {
    padding: 100px 100px 30vh;
    height: 100vh;
}

/* ------------------------------------------ */

.block {
    height: 100%;
    box-shadow: -19px 20px 20px 0px rgb(83, 83, 83);
    border-radius: 5px;
    background: url("../images/Куница.jpg") 50% 50% no-repeat,
        radial-gradient(#55656a 55%, #37483391 69%);
    background-size: 250px;
}

.block__2 {
    height: 86%;
    width: 100%;
    box-shadow: 20px -17px 13px 8px rgb(61, 30, 30);
    border-radius: 10px;
    background-image: url("../images/птичка.jpeg") ,
    linear-gradient(  rgb(83, 108, 24)15% ,#00bcf5 103%  );
    background-repeat: no-repeat;
    background-position:50%;
    background-size:contain;
}