*{
  margin: 0;
  padding: 0;

}/* все обнуляет */

.container{
  display /*дисплей*/: grid;/*сетка*/
  grid-template-columns:repeat(3,1fr);/*указывает сколько сталбцов*/
  grid-template-rows:repeat(3)/*повторение чего-либо*/;/*высата сталбцов*/
}
.card{
  margin: 1.5em;/*отступ от краев*/
}

.card>a>img{
  width:100% ;
}

.card>.info{
  text-align:center;
}

@media(max-width/*максимальная ширина*/:1000px){
  .container{

    grid-template-columns:repeat(2,1fr);/*указывает сколько сталбцов*/
    grid-template-rows:repeat(5)/*повторение чего-либо*/;/*высата сталбцов*/
  }
}

@media(max-width/*максимальная ширина*/:600px){
  .container{

    grid-template-columns:repeat(1,1fr);/*указывает сколько сталбцов*/
    grid-template-rows:repeat(9)/*повторение чего-либо*/;/*высата сталбцов*/
  }

  .card {
    margin-inline: 0;/*отступ от краев*/
  }

}